*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #61a165c7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#box{
    height: 90%;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    /* opacity: 0; */
   
}
#top{
    height: 80px;
    width: 100%;
    background-color:#61a165e7;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 120px;
}
.topelem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;

}
.topelem h2{
    font-weight: 600;
}
.topelem h3{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}
#btm{
    height: calc(100% - 80px);
    width: 100%;
    background-color: #fff;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
     align-items: center;
     justify-content: center;
    gap: 8px;
    color: white;
}
#btm h1{
    opacity: 1 ;
}
.bubble{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   width: 50px;
    border-radius: 50%;
    background-color: #61a165;
    /* opacity: 0; */
   
}
.bubble h3{
    font-weight: normal;
}
.bubble:hover{
    cursor: pointer;
    background-color: #61a165c0;
}
#btm h1{
    font-size: 50px;
    align-items: center;
    color: #305833e7;
    line-height: 100px;
    font-family: monument;
    letter-spacing: 2px;
}
#btm h1 span{
     margin-left: 170px;
    padding: 10px 20px;
    background-color: #305833e7;
    border-radius: 5px;
    color: white;
}
#btm h1 button{
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #305833e7;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin-left: 140px;
    cursor: pointer;
}
#main h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #61a165e7;
    font-size: 59px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #305833e7;
}
#main button{
    margin-top: 30px;
    margin-left: 150px;
    padding: 14px 30px;
    background-color: #305833e7;
    color: white;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
}
#no{
    position: absolute;
    top: 40%;
    left: 35%;
    opacity: 1;
  background-color: white;
}